[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = true

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none
